/*common styles*/
body{
	background-color: #ececec
}
main{
	min-height: calc(100vh - 100px);
	padding-block: 20px;
}
h2{
	font-size: 22px;
	font-weight: bold;
	color: #ffffff;
	background-color: #3e3e3e;
	padding-left: 10px;
}


/*header area styles*/
header {
	height: 60px;
	display: flex;
	justify-content: space-between;
	background-color: #3e3e3e;
	position: sticky;
	top: 0;
	z-index: 10;
}
header .led{
	border: outset 5px #000000;
}
header .led img{
	width: auto;
	height: 100%;
	max-height: 60px;
	border: outset 5px #000000;
	object-fit: contain;
}
header .menu{
	width: 100%;
	max-width: 425px;
}
header .menu ul{
	display: flex;
	column-gap: 5px;
	border: outset 5px #000000;
	background-color: #000000;
}
header .menu li{
	width: 100px;
	height: 50px;
	text-align: center;
	background-color: #f0f0f0;
	padding: 0;
	border: outset 1px #f0f0f0;
}
header .menu a{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	color: #000000;
	background-color: #fff0e5;
	line-height: 1;
}
header .menu a:hover{
	background-color: #ffbe8c;
}
header .menu a.active{
	background: radial-gradient(#ffd597 0%, #ff8e38 80%, 95%, #c56f2d 100%);
}
header .menu a span{
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
} 

/*footer area styles*/
footer {
	height: 50px;
	display: flex;
	background-color: #3e3e3e;
}

/*main area styles*/
main > .outer{
	padding-inline: 20px;
}
.outer > div{
	margin-bottom: 20px;
	position: relative;
}
.marker{
	position: absolute;
	top: -80px;
}

.cover{
	position: relative;
}
.cover img{
	width: 100%;
	height: 50vh;
	object-fit: cover;
	filter: blur(2px);
}
.cover p{
	position: absolute;
	top: 50%;
	left: 10%;
	color: #ececec;
	font-weight: bold;
	font-size: 32px;
	transform: translateY(-50%);
}

.box{
	background-color: #ffffff;
	width: 100%;
	border: solid 1px #3e3e3e;
}
.box > h3{
	font-weight: bold;
	color: #ffffff;
	background-color: #3e3e3e;
	padding-inline: 10px;
}

.about img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
.about > .box{
	display: flex;
	padding: 20px;
}

.skills > .box{
	display: flex;
	column-gap: 10px;
	padding: 20px;
}
.skills .item{
	width: 100%;
	min-width: 150px;
}
.skills .item h3{
	font-size: 18px;
}
.skills .item ul{
	padding-inline: 10px;
}

.works > .box{
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	padding: 20px;
}
.works .item{
	padding: 20px;
}
.works .item ul{
	padding-inline: 10px;
}
.works .item img{
	width: 300px;
	max-width: 300px;
	height: 300px;
	max-height: 300px;
	object-fit: contain;
}
#imgView5 img{
	filter: blur(2px);
}

p{
	padding: 5px;
}
.column {
	display:flex;
}
.margin_right{
	margin-right: 10px;
}
.margin_bottom{
	margin-bottom: 10px;
}
.fit-content{
	width: fit-content;
}

.work_text{
	width: 100%;
}
.work_text th{
	font-weight: bold;
	padding-inline: 5px;
	width: 120px;
}

@media screen and (max-width: 950px){
	header .led img{
		width: 100%;
	}
	header .menu li{
		width: 100%;
		max-width: 100px;
	}
	.skills > .box{
		flex-direction: column;
		row-gap: 10px;
	}
	.works .item{
		flex-direction: column;
		row-gap: 10px;
	}
}

@media screen and (max-width: 700px){
	.work_text div:first-child{
		flex-direction: column;
		row-gap: 10px;
	}
	.fit-content{
		width: 100%;
	}
	.margin_right{
		margin-right: 0;
	}
	header{
		justify-content: center;
		
	}
	header .menu{
		position: fixed;
		width: 110px;
		right: -110px;
		top: 60px;
		transition: right 0.2s;
	}
	header .menu.active{
		right: 0;
	}
	header .menu ul{
		flex-direction: column;
		row-gap: 5px;
	}

	header .menu .index{
		position: absolute;
		width: 20px;
		height: 80px;
		left: -20px;
		top: 10px;
		background-color: #3e3e3e;
		border-radius: 10px 0 0 10px;
		cursor: pointer;
	}
	header .menu .index span{
		position: absolute;
		width: 10px;
		height: 10px;
		right: 0;
		pointer-events: none;
	}
	header .menu .index span:first-child{
		top: -10px;
		background: radial-gradient(circle at top left, transparent 10px, #3e3e3e 0);
	}
	header .menu .index span:last-child{
		bottom: -10px;
		background: radial-gradient(circle at bottom left, transparent 10px, #3e3e3e 0);
	}
	header .menu .index span.bar{
		position: absolute;
		width: 4px;
		height: 60px;
		top: 10px;
		left: 6px;
		border-radius: 2px;
		background-color: #f0f0f0;
	}
	header .menu .index span.spread{
		position: absolute;
		top: -10px;
		width: 40px;
		height: 100px;
		pointer-events: auto;
	}
}

@media screen and (max-width: 550px){
	.about .box{
		flex-direction: column;
		align-items: center;
	}
	.skills > .box,
	.works > .box,
	.works .item{
		padding: 10px;
	}
	.works .item img{
		width: 100%;
		max-width: 100%;
		height: 200px;
	}
}